html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0 0 60px;
	font-family: sans-serif;
	color: #333;
	min-width: 500px;
}

h1, h2 {
	font-weight: normal;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 22px;
}

p {
	font-size: 18px;
}

a, a:active {
	color: #3E3EE6;
}

input {
	height: 24px;
	font-size: 14px;
	border: 1px solid #ddd;
	border-top: 1px solid #ccc;
	padding: 3px 6px;
	color: #555;
	margin: 0 0 8px 0;
}

input:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}

button {
	background-color: #7474ff;
	color: white;
	height: 30px;
	font-size: 16px;
	text-transform: uppercase;
	border-width: 0;
	margin: 0 0 8px 0;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
	min-width: 400px;
	max-width: 1000px;
}

header {
    color: #333;	 
	background-color: #f5f5f5;
	height: 80px;
	width: 100%;
	float: left;
}

header img {
	height: 50px;
	padding: 14px 0 10px;
}

section {
    width: 100%;
    float: left; 	 
}

section h1 {
	border-bottom: 1px solid #ccc;
	padding: 0 0 20px 0;
	margin: 23px 0 0;
}

section .content {
	padding: 5px;
}

#scan-form {
	display: table;
	margin: 10px 0 20px;
	width: 100%;
}

.url-cell, .scan-cell {
	display: table-cell;
}

.scan-cell {
	width: 145px;
}

.url-cell input {
	height: 30px;
	font-size: 16px;
	border: 1px solid #ddd;
	border-top: 1px solid #ccc;
	width: 100%;
	padding: 3px 6px;
	color: #555;
}

.progress-input {
	width: 100%;
	padding: 3px 6px;
	border: 1px solid #ddd;
	border-top: 1px solid #ccc;
}

.progress-input p {
	color: #555;
	font-size: 16px;
}

.scan-cell button {
	width: 145px;
	height: 34px;
	font-size: 16px;
	margin: 20px 0 0 30px;
}

#account {
	margin-bottom: 25px;
}

.error p {
	color: #e74444;
}

.results {
    width: 100%;
}

.results, .results th, .results td {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

.results th, .results td {
    padding: 5px;
    text-align: left;
}

.results th	{
    background-color: #f5f5f5;
}

.results tr {
    background-color: #fff;
}

.results .problem {
	white-space: nowrap;
}

#toggle-theme, #toggle-plugin {
	margin: 10px 0 15px 0;
	display: block;
	text-decoration: underline;
	cursor: pointer;
}

#add-plugin {
	margin: 0 0 15px 0;
}

#add-theme input, #add-plugin input  {
	margin-right: 10px;
	width: 200px;
}

#add-theme button, #add-plugin button {
	width: 125px;
}

#change-password input, #change-password input  {
	margin-right: 10px;
	width: 200px;
}

#scans {
	margin-bottom: 20px;
}

#login-form {
	width: 250px;
}

#login-form input {
	height: 30px;
	font-size: 16px;
	border: 1px solid #ddd;
	border-top: 1px solid #ccc;
	width: 250px;
	padding: 3px 6px;
	color: #555;
	margin: 15px 0 0 0;
	float: left;
}

#login-form button {
	width: 145px;
	background-color: #7474ff;
	color: white;
	height: 34px;
	font-size: 16px;
	text-transform: uppercase;
	border-width: 0;
	margin: 20px 0 0 0;
}

footer, .push {
	height: 60px;	
}

footer {
	width: 100%;
    background-color: #666;
    color: #ccc;
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 14px;
	text-align: center;
	padding: 0;
	overflow: hidden;
	min-width: 500px;
}

footer p {
	margin: 0;
	font-size: 16px;
	padding: 20px 0;
	line-height: 20px;
}
